<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="docs-wireframes">

    	<header class="wf-header">
    		<h4>
    			<a href="/index.html">Zoji Docs</a> / <a href="/wireframes/index.html">Wireframes</a> / {% if page.app %}<a href="/wireframes/{{ page.app-url }}">{{ page.app }}</a> / {% endif %}{{ page.title }}
    			<span class="pull-right wf-tools">
                    <a href="#" class="toggle-zoom">Toggle Zoom</a>
    				<a href="#" class="toggle-notes">Toggle Notes</a>
    			</span>
                
    		</h4>
    	</header>

        {{ content }}

    </body>

</html>
