<div class="zj-apps">
	<div class="zj-apps-grid">
		<!--grid of apps<br>
		groups: discover (gear, destinations, science/research), track/log, learn-->

		<!--"apps" simply reshape a constant interface model -->
		<!--toggle menu changes between the real apps, both can be expanded
		case: logbook is universal, its for planning and tracking
		case: everything can relate to skills/goals/development
		case: most things have some kind of location, see everything in the context of the map as destinations, where you've been and where you're going

		apps = categories (activitites, projects,)
		pivot options = context (record, location)

		everything else should fall under editorial/content

		freely navigate between contexts
		example: exploring map/destinations, some pins have different states – like visited – if I focus that pin I can see that I've been there before, by focussing I can see other related pins (maybe defining a trip) and I can click to see it in a different context

		if an app isn't selected then each context defaults to aggregate

		there should also be affordances for secondary apps [SOLVED WITH APPS/FILTER TOGGLE]
		where does a flash card app fit in? [SOLVED WITH APPS/FILTER TOGGLE]

		-->

		<span>Toggle Apps or Filters</span>
		<!--Filters = activities, etc; Apps = Flash card helpers, e-learning modules, etc-->

		<h4 class="zj-apps-group-label">Activity</h4>
		<div class="zj-apps-group">
			<a href="#" class="app">
				<figure class="icn">&#xf3cd;</figure>
				<h4 class="app-label">Scuba</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf3cd;</figure>
				<h4 class="app-label">Climbing</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf3cd;</figure>
				<h4 class="app-label">Kayaking</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf3cd;</figure>
				<h4 class="app-label">Hiking</h4>
			</a>
		</div>

		<h4 class="zj-apps-group-label">Fitness</h4>
		<div class="zj-apps-group">
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
		</div>

		<h4 class="zj-apps-group-label">Research &amp; Science</h4>
		<div class="zj-apps-group">
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
			<a href="#" class="app">
				<figure class="icn">&#xf315;</figure>
				<h4 class="app-label">App</h4>
			</a>
		</div>
	</div>
</div>
