<div class="zj-feed">
	<!-- collection of external/internal links to content, updates
	case: one of zoji internal resources adds content relevant to user, short blurb about appears in feed
	case: external article/video -->

	<div class="zj-feed-actions">
		<div class="zj-branding">zoji</div>
		<div class="btn-group">
			<a href="#" class="btn toggle-feed-filter">Filter Feed Category/Type</a>
			<!-- This should toggle an overlay with big tiles for different content projects,
			clicking one of the options takes you to a dedicated full bleed view of content project (gear reviews, interactive documentatary series, news from zoji kids, etc…)-->
		</div>
	</div>	
	<div class="zj-feed-items">
		<ul>
			<li class="zj-feed-item">
			external news story
			</li>
			<li class="zj-feed-item">
			new group of destinations added
			</li>
			<li class="zj-feed-item">
			aeon video
			</li>
			<li class="zj-feed-item">
			zj news item
			</li>
			<li class="zj-feed-item">
			gear review
			</li>
		</ul>
	</div>

</div>