<div class="zj-log">
	<h4 class="zj-log-group-label">Archive (Toggle on Off)</h4>
	<ul class="zj-log-group">
		<li class="zj-trip" id="trip-thailand">
			<a href="#" class="zj-trip-name">Thailand</a>
			<a href="#" class="btn zj-trip-add icn" title="Add Event">&#xf2c7;</a>
			<a href="logbook.html#trip-thailand" class="btn zj-trip-expand icn" title="View Trip">&#xf30f;</a>
			<ul class="zj-trip-events child">
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
			</ul>
		</li>
		<li class="zj-trip" id="tripname">
			<a href="#" class="zj-trip-name">Trip</a>
			<a href="#" class="btn zj-trip-add icn" title="Add Event">&#xf2c7;</a>
			<a href="logbook.html#tripname" class="btn zj-trip-expand icn" title="View Trip">&#xf30f;</a>
			<ul class="zj-trip-events child">
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
			</ul>
		</li>
		<li class="zj-trip">
			<a href="#" class="zj-trip-name">Trip</a>
			<a href="#" class="btn zj-trip-add icn" title="Add Event">&#xf2c7;</a>
			<a href="logbook.html#tripname" class="btn zj-trip-expand icn" title="View Trip">&#xf30f;</a>
			<ul class="zj-trip-events child">
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
			</ul>
		</li>
		<li class="zj-trip">
			<a href="#" class="zj-trip-name">Trip</a>
			<a href="#" class="btn zj-trip-add icn" title="Add Event">&#xf2c7;</a>
			<a href="logbook.html#tripname" class="btn zj-trip-expand icn" title="View Trip">&#xf30f;</a>
			<ul class="zj-trip-events child">
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
			</ul>
		</li>
		<li class="zj-trip">
			<a href="#" class="zj-trip-name">Trip</a>
			<a href="#" class="btn zj-trip-add icn" title="Add Event">&#xf2c7;</a>
			<a href="logbook.html#tripname" class="btn zj-trip-expand icn" title="View Trip">&#xf30f;</a>
			<ul class="zj-trip-events child">
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
			</ul>
		</li>
		<li class="zj-trip">
			<a href="#" class="zj-trip-name">Trip</a>
			<a href="#" class="btn zj-trip-add icn" title="Add Event">&#xf2c7;</a>
			<a href="logbook.html#tripname" class="btn zj-trip-expand icn" title="Expand Trip">&#xf46a;</a>
			<ul class="zj-trip-events child">
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
				<li><a href="#">Photo collection</a></li>
			</ul>
		</li>
	</ul>
</div>