<div class="box zj-panel zj-menu">
	<!-- Default to whatever was open when the user last used -->
	<a href="#" class="btn toggle-apps icn">&#xf35c;</a>
	<div class="zj-context">
		<ul>
			<li><a href="logbook.html" title="Logbook"><span class="icn">&#xf127;</span>Logbook</a></li>
			<li><a href="photo.html" title="Destinations"><span class="icn">&#xf203;</span>Destinations</a></li>
			<li><a href="photo.html" title="Photos"><span class="icn">&#xf148;</span>Photos</a></li>
			<li><a href="skills.html" title="Skills"><span class="icn">&#xf273;</span>Skills/Goals</a></li>
			<!--Skill matrix, focussed/zoomed by selected filter/category-->
			<li><a href="gear.html" title="Gear"><span class="icn">&#xf2ad;</span>Gear</a></li>
			<!--Gear locker, like trello/itunes, with playlists (gear collections) and whole collection (all gear)-->
		</ul>
		<a href="#" class="box zj-link-profile">
			Profile/Settings
		</a>
	</div>
</div>