<!DOCTYPE html>
<html style="height: 100%;">

    {% include head.html %}

    <body class="oj__docs">

    	<aside role="navigation" class="oj__menu" data-focus="root">
    		<section class="menu"
    		<ul>
    			<li>&nbsp;</li>
    			<li><a href="#" class="menu__trigger" data-target="projects">Projects</a></li>
    			<li><a href="#" class="menu__trigger" data-target="docs">Docs</a></li>
    			<li><a href="#" class="menu__trigger" data-target="strategy">Strategy</a></li>
    		</ul>
    	</aside>

        {{ content }}

    </body>

</html>
